#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#contact-box {
    width: 30%;
    height: 50%;
    background-color: #A0BCAA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large; 
    color: #404040;
}
#contact-box span {
    text-align: center;
}