#gallery {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container {
    cursor: pointer;
}
.gallery-image {
    height: 200px;
    aspect-ratio: 1;
    object-fit:cover;
    margin: 4px;
    border-radius: 10px;
}
.gallery-image:hover {
    zoom: 1.2;
}
.image-overlay {
    position: fixed;
    visibility: hidden;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    cursor: default;
}
.image-overlay:target {
    visibility: visible;
}
.overlay-image {
    border-radius: 10px;
    height: 70%;
}
.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subtitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


